# Compiled class files
*.class

# Log files
*.log

# IntelliJ IDEA files
.idea/

# Eclipse files
.classpath
.project
.settings/

# Maven generated folders
target/

# Gradle generated folders
build/
.gradle/

# Compiled output
bin/

# Dependency directories
lib/
libs/

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db
